<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>


<h3>Date: <%= @post.created_at.strftime("%m/%d/%Y") %></h3>

<div class="well well-lg">
  <p> <strong>Resentful at:</strong> <%= @post.resentful_at %> <br>
  <strong>Cause:</strong> <%= @post.cause %> <br>
  <strong>Affects my:</strong> <%= @post.affects_my %> <br>
  <strong>My part:</strong> <%= @post.my_part %><br>
  <strong>Was I selfish?</strong> <%= @post.selfish %> <br>
  <strong>Dishonest?</strong> <%= @post.dishonest %> <br>
  <strong>Afraid?</strong> <%= @post.afraid %> <br>
  <strong>Do I owe an apology?</strong> <%= @post.owe_an_apology %> <br>
  <strong>Have I kept something to myself I should I have shared with another person?</strong> <%= @post.kept_to_myself %> <br>
  <strong>Was I kind and loving towards all? </strong><%= @post.kind_and_loving %> <br>
  <strong>What could I have done better?</strong> <%= @post.done_better %> <br>
  <strong>Was I thinking only of myself?</strong> <%= @post.thinking_of_myself %> <br>
  <strong>Or, was I thinking about what I could do for others?</strong> <%= @post.thinking_of_others %> <br>
  <strong>What character defects did I exhibit today?</strong> <%= @post.defects %> <br>
  <strong>For what am I grateful?</strong> <%= @post.gratitude %> <br>
  </p>
</div>

<%= link_to 'Back', user_posts_path, :class => 'btn btn-default'%>



























